.dropdown {
	position: relative;
}
.list {
	position: absolute;
	background-color: var(--white);
	right: 0;
	bottom: -6px;
	transform: translateY(100%);
	border: 2px solid var(--grey-light);
	border-radius: 5px;
	overflow: hidden;

	li {
		padding: 12px;
		min-width: 140px;
		cursor: pointer;

		&:hover {
			background-color: var(--primary);
			color: #fff;
		}
	}
}
