@import './null.scss';
@import './vars.scss';
@import './animation.scss';

body {
	background-color: var(--white-blue);
	color: var(--black);
	font-family: 'Noto Sans';
	font-weight: 400px;
}

.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.dark-team {
	.table {
		background-color: #ebebeb;

		table {
			background-color: #ebebeb;
		}
	}

	.dropdown-list {
		background-color: #fff;
		border: 1px solid #eee;
	}
}
