:root {
	--primary: #7653fc;
	--primary-hover: #6350ad;
	--white: #fff;
	--white-blue: #f5f6f8;
	--grey-light: #ebebeb;
	--black: #3b434e;
}
.dark-team {
	--primary: #ff9613;
	--primary-hover: #f18501;
	--black: #ffffff;
	--white: #2d2f31;
	--white-blue: #9ea8bb;
	--grey-light: #b3b2b2;
}
