.content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 11px;
	min-height: 60px;
}
.status {
	width: 100%;
	justify-content: center;
	align-items: center;
	min-height: 641px;
	display: flex;

	h3 {
		color: rgb(199, 0, 0);
	}
}
