.table {
	background-color: var(--white);
	width: 100%;
	margin-bottom: 35px;
	min-height: 641px;
	table {
		border-width: 0px;
		width: 100%;
	}

	th {
		border: 1px solid var(--grey-light);
		padding-top: 6px;
		padding-bottom: 6px;
		border-collapse: collapse;
	}

	td {
		border: 1px solid var(--grey-light);
		border-collapse: collapse;
	}
}
.content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 11px;
	min-height: 60px;
}
