.table {
	background-color: var(--white);
	width: 100%;
	margin-bottom: 35px;
	min-height: 641px;
	transition: 0.6s;

	table {
		border-width: 0px;
		width: 100%;
		transition: 0.6s;
	}

	th {
		border: 1px solid var(--grey-light);
		padding-top: 6px;
		padding-bottom: 6px;
		border-collapse: collapse;
	}

	td {
		border: 1px solid var(--grey-light);
		border-collapse: collapse;
	}
}
