.h1 {
	font-size: 31px;
	font-weight: 600;
	line-height: 1;
	transition: 0.6s;
}
.h2 {
	font-size: 22px;
	font-weight: 500;
	line-height: normal;
	transition: 0.6s;
}
.h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	transition: 0.6s;
}
.h4 {
	font-size: 14px;
	font-weight: 700;
	line-height: normal;
	transition: 0.6s;
}
